
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        img.profile{
            float:left;
            border:4px solid gray;
            margin-right: 1em;
        }
    </style>
</head>
<body>
    <h1> <b> Welcome to {{ d.dept_name }} Department </b></h1>
    <p><b>Location: </b>{{ d.dept_location }}</p>
    <p><b>Supervisor: </b>{{ d.dept_supervisor }}</p>
    <img class= "profile" src= "{{ d.dept_image }}" width="500">
    <p style ="border: 4px solid lightgray"> <h2><b> Information </b></h2><br>
        {{ d.dept_bio }}
    </p>
</body>
</html>

