<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Database</title>
</head>
<body>
<h1>Assignment #6 Server Side</h1>

<p><h2>Welcome</h2></p>

There are {{ numDepartment }} Departments in the Database.<br><br>
There are {{ numPeople }} people in the Database.
<p></p>
<div>
<b>Departments</b>
     <ol>
        {% for d in department %}
            <li> <b><a href="/dept/{{ d.id }}">{{ d.dept_name }}</a></b> <br> Supervisor: <i>{{ d.dept_supervisor }}</i> </li>
        {% endfor %}
    </ol>
</div>
<div>
<b>People</b>
    <ol>
        {% for p in people %}
            <li> <a href="/profile/{{ p.id }}">{{ p.first_name }} {{ p.last_name }}</a></li>
        {% endfor %}
    </ol>

</div>



</body>
</html>