<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        img.profile{
            float:left;
            border:4px solid gray;
            margin-right: 4em;
        }
    </style>
</head>
<body>
    <h1> {{ p.first_name }} {{ p.last_name }}</h1>
    <p><b>Birth Date: </b>{{ p.dob }}</p>
    {% if pubs %}
            <h3><b>Publications</b></h3>
            <ul>
            {% for r in pubs %}
                <li>
                {{ r.title }}, {{ r.year }}, {{ r.publisher }}.
                </li>
            {% endfor %}
            </ul>
    {% endif %}
    <img class= "profile" src= "{{ p.image }}" width="300">
    <p style ="border: 4px solid lightgray"><h3><b>Bio</b></h3><br>

        {{ p.bio }}
    </p>
</body>
</html>