<h1>Task list</h1>
<div class="container"> <div class="col-md-3">

    <input type="text" placeholder="title" ng-model="title" id="title"> </div> <div

        class="col-md-3"> <select ng-model="priority" class="form-control"

                                  id="priority"> <option value="" default selected>Priority</option>

    <option>A</option> <option>B</option> <option>C</option>

</select> </div> <div class="col-md-3"> <input type="text"

                                               placeholder="due date" ng-model="dueDate" id="dueDate"> </div> <div

        class="col-md-3"> <select ng-model="finished" class="form-control">

    <option value="" default selected>Complete</option>

    <option>Done</option> <option>Not done</option> </select> </div>

    <input type="button" value="add" ng-click="addTask()"> </div> <table

        class="table table-striped table-hover"> <tr> <th>Complete</th> <th

        ng-click="sort('title', false)">Task</th> <th ng-click="sort('priority',

false)">Priority</th> <th ng-click="sort('dueDate', false)">Due Date</th>

    <th>Remove/Edit</th> </tr> <tr ng-repeat="task in taskList"> <td>

    <input type="checkbox"> </td> <td> {{task.title}} </td>

    <td> {{task.priority}} </td> <td>{{task.dueDate}}</td> <td><span

            class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="remove(task)">

</span> <span class="glyphicon glyphicon­pencil" aria-hidden="true" ng-
              click="edit($index)"></span> </td> </tr> </table>