body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: snow;
    margin:0;
}

li:hover{
    text-shadow: -2px 2px 3px darkred;
}

header{
    background: #999;
    color: #ffffff;
    margin: 0;
}

header h1{
    margin: 0;

}

nav ul{
    margin: 0;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    margin:20px 20px 20px 20px;

}

nav ul li a {
    color: white;
}

.row{
    padding:5px;
    margin:5px;

}

.col{
    float:left;
    width:31%;
    margin:0.5%;
    padding:10px 0.5px;
    color: white;
    background: gray;
    border-radius:5px;
}

.row2{
    padding:5px;
    margin:5px;
}

.col2{

    float:left;
    width:31%;
    margin:0.5%;
    padding:10px 0.5px;
    color: white;
    background:gray;
    border-radius: 5px;

}

footer{
    clear:both;
    margin:1px;
    padding:1px;
    background: #999;
    color: white;

}
